#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* height: 100vh;
  height: 100dvh; */
  height: 100dvh;
  min-height: 100%;
}

.page-container {
  height: 100%;
}

@supports not (height: 100dvh) {
  #root {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
  }

  .page-container {
    height: calc(100% - 64px);
  }
}